<div class="home-container">
  <!-- Banner / Carrossel -->
  <div class="banner">
    <div class="carousel-container">
      <div class="carousel" [style.transform]="'translateX(' + (-currentIndex * 100) + '%)'">
        <div class="slide" *ngFor="let banner of banners">
          <picture>
            <source [srcset]="banner.mobileImage" media="(max-width: 600px)">
            <source [srcset]="banner.tabletImage" media="(max-width: 991px)">
            <img [src]="banner.desktopImage" [alt]="banner.altText">
          </picture>
        </div>
      </div>
      <!-- <button class="prev-btn" (click)="prevSlide()">&#10094;</button>
      <button class="next-btn" (click)="nextSlide()">&#10095;</button> -->
      <div class="dots">
        <span *ngFor="let banner of banners; let i = index" [class.active]="i === currentIndex" (click)="goToSlide(i)">
        </span>
      </div>
    </div>
  </div>

  <div class="app-container">
  <!-- Menu -->
    <nav class="menu">
      <div class="cards-banner">
        <div class="card-banner" *ngFor="let slot of cardsproducts">
          <ng-container *ngIf="slot.images.length; else noImage">
            <img [src]="slot.images[0]" [alt]="slot.name" (click)="goToCheckout(slot.id)" />
          </ng-container>
          <ng-template #noImage>
            <span class="material-symbols-outlined placeholder-icon">
              image_not_supported
            </span>
          </ng-template>
          <div class="overlay">
            <span>{{ slot.overlayText }}</span>
          </div>
        </div>
      </div>
    </nav>

    <!-- Ofertas Especiais -->
    <section class="special-offers">
      <div class="special-header">
        <h2>Especial para você</h2>
        <a href="#">Ver tudo</a>
      </div>
      <div class="offers-content">
        <img [src]="offerBanner" alt="Oferta Especial" class="offer-banner" />
      </div>
    </section>

    <!-- Categorias -->
    <section class="see-also-section">
      <div class="see-also-divider">
        <span class="divider-line"></span>
        <h2 class="see-also-title">Veja também</h2>
        <span class="divider-line"></span>
      </div>
    </section>

    <!-- Produtos -->
    <div class="product-list">
      <div *ngIf="isLoading" class="loading-container">
      </div>

      <div *ngIf="error" class="error-container">
        <p>{{ error }}</p>
      </div>

      <div class="product-card" *ngFor="let product of products">
        <div class="product-image">
          <img
            [src]="product.imageUrls && product.imageUrls.length ? product.imageUrls[0] : 'assets/images/placeholder.jpg'"
            alt="{{ product.name }}" (click)="product.id ? goToCheckout(product.id) : null" />
        </div>

        <div class="product-info">
          <h4>{{ product.name }}</h4>
          <p *ngIf="product.sizes?.length" class="product-sizes">{{ product.sizes.join(' · ') }}</p>

          <div *ngIf="product.colors?.length" class="product-colors">
            <span *ngFor="let color of product.colors" [style.backgroundColor]="color" class="color-dot"></span>
          </div>

          <div class="product-bottom">
            <span class="product-price">R$ {{ product.price }}</span>
            <button class="btn-outline" (click)="openProductModal(product)">+ Carrinho</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de Produto -->
  <div class="product-modal" *ngIf="showProductModal">

    <div class="modal-content">
      <div class="thumbs">
        <img *ngFor="let img of productImages; let i = index" [src]="img" [class.selected]="img === selectedImageUrl"
          (click)="selectedImageUrl = img" alt="Imagem {{i+1}}" />
      </div>

      <div class="main-img">
        <img [src]="selectedImageUrl" [alt]="selectedProduct?.name" />
      </div>

      <div class="details">
        <button class="close-btn" (click)="closeProductModal()">✕</button>
        <h2>{{ selectedProduct?.name }}</h2>
        <!-- <p>{{ selectedProduct?.description }}</p> -->
        <div class="price">R$ {{ selectedProduct?.price | number:'1.2-2' }}</div>

        <div class="sizes" *ngIf="selectedProduct?.sizes?.length">
          <label>Tamanhos:</label>
          <div class="size-list">
            <button *ngFor="let s of selectedProduct?.sizes" (click)="selectSize(s)"
              [class.active]="selectedSize === s">{{ s }}</button>
          </div>
        </div>

        <div class="colors" *ngIf="selectedProduct?.colors?.length">
          <label>Cores:</label>
          <div class="color-list">
            <div *ngFor="let c of selectedProduct?.colors" class="color-dot" [style.background]="c"
              (click)="changeColor(c)" [class.active]="selectedColor === c"></div>
          </div>
        </div>

        <div class="quantity-controls">
          <button class="quantity-btn" (click)="decreaseQuantityModal()" [disabled]="selectedQuantity <= 1"
            aria-label="Diminuir quantidade">–</button>

          <span class="cart-item-quantity">{{ selectedQuantity }}</span>

          <button class="quantity-btn" (click)="increaseQuantityModal()"
            [disabled]="selectedQuantity >= (selectedProduct?.quantity ?? 0)"
            aria-label="Aumentar quantidade">+</button>

          <span class="stock-info">
            (estoque: {{ selectedProduct?.quantity }})
          </span>
        </div>

        <button class="add-cart" (click)="addToCart(selectedQuantity)">
          Adicionar ao carrinho
        </button>
      </div>
    </div>
  </div>
</div>