<div class="admin-layout">
  <aside class="sidebar" [class.collapsed]="isCollapsed" *ngIf="isAdmin">

    <div class="logo-section">
      <img src="../../../assets/logo/logo-c.png" alt="Logo Icon" class="logo-icon">
      <span class="logo-text" *ngIf="!isCollapsed">Charmosa Admin</span>
    </div>

    <nav class="main-nav">
      <ul>
        <li>
          <a routerLink="/admin-dashboard" routerLinkActive="active">
            <span class="material-symbols-outlined">dashboard</span>
            <span class="nav-text" *ngIf="!isCollapsed">Dashboard</span>
          </a>
        </li>
        <li>
          <a routerLink="/list-products" routerLinkActive="active">
            <span class="material-symbols-outlined">inventory_2</span>
            <span class="nav-text" *ngIf="!isCollapsed">Produtos</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin-pages" routerLinkActive="active">
            <span class="material-symbols-outlined">article</span>
            <span class="nav-text" *ngIf="!isCollapsed">Páginas</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin-coupons" routerLinkActive="active">
            <span class="material-symbols-outlined">confirmation_number</span>
            <span class="nav-text" *ngIf="!isCollapsed">Cupons</span>
          </a>
        </li>
        <li>
          <a routerLink="/users" routerLinkActive="active">
            <span class="material-symbols-outlined">group</span>
            <span class="nav-text" *ngIf="!isCollapsed">Usuários</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin-extract" routerLinkActive="active">
            <span class="material-symbols-outlined">receipt_long</span>
            <span class="nav-text" *ngIf="!isCollapsed">Extrato</span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="sidebar-toggle">
      <button (click)="toggleSidebar()">
        <span class="material-symbols-outlined">
          {{ isCollapsed ? 'menu_open' : 'menu' }}
        </span>
      </button>
    </div>

  </aside>

  <!-- <main class="main-content" [class.collapsed]="isCollapsed">
    <router-outlet></router-outlet>
  </main> -->
</div>