:host {
  --sidebar-bg: #333;
  --sidebar-collapsed-width: 85px;
  --sidebar-expanded-width: 250px;
  --accent-color: #EFBF04;
  --text-color: #ecf0f1;
  z-index: 101;
  position: sticky;
}

.admin-layout {
  display: flex;
}

.sidebar {
  width: var(--sidebar-expanded-width);
  height: 100vh;
  background-color: var(--sidebar-bg);
  color: var(--text-color);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease-in-out;
  font-family: 'Montserrat', sans-serif;
}

.sidebar.collapsed {
  width: var(--sidebar-collapsed-width);
}

/* Seção do Logo */
.logo-section {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 100px;
  flex-shrink: 0;
}

.logo-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.sidebar.collapsed .logo-text {
  opacity: 0;
}

.main-nav {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav ul li a {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 15px 25px;
  text-decoration: none;
  color: var(--text-color);
  white-space: nowrap;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.main-nav ul li a:hover {
  background-color: var(--accent-color);
  color: #000;
}

.main-nav ul li a.active {
  background-color: var(--accent-color);
  color: #000;
  font-weight: bold;
}

.main-nav ul li a .material-symbols-outlined {
  font-size: 24px;
  min-width: 30px;
  text-align: center;
}

.sidebar-toggle {
  padding: 20px;
  border-top: 1px solid #4a627a;
  flex-shrink: 0;
}

.sidebar-toggle button {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  justify-content: center;
  transition: color 0.3s ease;
}

.sidebar-toggle button:hover {
  color: var(--accent-color);
}

.main-content {
  margin-left: var(--sidebar-expanded-width);
  padding: 20px;
  width: calc(100% - var(--sidebar-expanded-width));
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.main-content.collapsed {
  margin-left: var(--sidebar-collapsed-width);
  width: calc(100% - var(--sidebar-collapsed-width));
}