:host {
  --sidebar-collapsed-width: 80px;
  --sidebar-expanded-width: 250px;
}

.main-container {
  display: flex;
  /* min-height: 100vh; */
}

.main-content {
  width: 100%;
  transition: margin-left 0.3s ease;
}


.main-content.with-sidebar {
  margin-left: var(--sidebar-expanded-width);
  width: calc(100% - var(--sidebar-expanded-width));
  /* margin-left: 4%; */
}

.main-content.with-sidebar.collapsed {
   margin-left: var(--sidebar-collapsed-width);
  width: calc(100% - var(--sidebar-collapsed-width));
  /* margin-left: 80px; */
}