<footer class="footer">
  <div class="footer-container">
    <!-- Atendimento -->
    <div class="footer-section">
      <h3>Atendimento</h3>
      <p><img src="/assets/icons/footer-icon/icon-mensagem-gold.png" 
        alt="Mensagem" class="icon-social"> charmosaplus&#64;gmail.com.br</p>
      <p><img src="/assets/icons/footer-icon/icon-whatsapp-gold.png" 
        alt="Whatsapp" class="icon-social"> (+55) 11 99999-9999</p>
    </div>

    <!-- Redes Sociais -->
    <div class="footer-section">
      <h3>Redes Sociais</h3>
      <p><img src="/assets/icons/footer-icon/icon-instagram-gold.png" 
        alt="Instagram" class="icon-social"> &#64;Charmosa_plus</p>
      <p><img src="/assets/icons/footer-icon/icon-facebook-gold.png" 
        alt="Facebook" class="icon-social"> Charmosa Plus</p>
      <p><img src="/assets/icons/footer-icon/icon-pinterest-gold.png" 
        alt="Pintereset" class="icon-social"> Charmosa Plus</p>
    </div>

    <!-- Precisa de Ajuda? -->
    <div class="footer-section">
      <h3>Precisa de Ajuda?</h3>
      <p><a href="#">Devoluções</a></p>
      <p><a href="#">Política de Privacidade</a></p>
      <p><a href="#">Dúvidas Frequentes</a></p>
    </div>

    <!-- Outros -->
    <div class="footer-section">
      <h3>Outros</h3>
      <p><a href="#">Quem Somos?</a></p>
      <p><a href="#">Lojas</a></p>
    </div>

    <!-- Institucional -->
    <div class="footer-section">
      <h3>Institucional</h3>
      <p><a href="#">Seja um vendedor digital</a></p>
      <p><a href="#">Nossa Loja</a></p>
      <h4>Formas de Pagamento</h4>
      <div class="payment-methods">
        <img src="/assets/icons/footer-icon/icon-pix.png" alt="Pix">
        <img src="/assets/icons/footer-icon/ico-mastercard.png" alt="MasterCard">
        <img src="/assets/icons/footer-icon/icon-visa.png" alt="Visa">
        <!-- <img src="/assets/icons/footer-icon/icon-elo.png" alt="Elo"> -->
        <img src="/assets/icons/footer-icon/icon-boleto.png" alt="Boleto">
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2024 Charmosa Plus. Todos os direitos reservados.</p>
  </div>
</footer>