<nav class="navbar">
  <div class="navbar-logo">
    <a routerLink="/home">
      <span class="logo-text">
        <span class="logo-charmosa">Charmosa</span>
        <span class="logo-plus">Plus</span>
      </span>
    </a>
  </div>

  <div class="search-container">
    <input type="search" [(ngModel)]="searchQuery" placeholder="O que você procura?" class="search-input">
    <button class="search-button" (click)="search()">
      <span class="material-symbols-outlined">
        search
        </span>
    </button>
  </div>

  <div class="navbar-user">
    <a routerLink="/home" routerLinkActive="active" aria-label="Home" class="nav-link">
      <span class="material-symbols-outlined icon-home">
        home
        </span>
    </a>

    <!-- Not logged in user -->
    <a *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="active" aria-label="Minha conta" class="nav-link">
      <span class="material-symbols-outlined">
        person
        </span>
    </a>

    <div *ngIf="isLoggedIn" class="user-greeting">
      <a routerLink="/minha-conta" class="greeting-link">Olá {{ username }}</a>
      <span class="separator">|</span>
      <a (click)="logout()" class="logout-link">Sair</a>
    </div>

    <!-- <a *ngIf="isAdmin" routerLink="/admin-dashboard" routerLinkActive="active" aria-label="Admin" class="nav-link">
      <img src="/assets/icons/icon-admin.png" alt="Admin" class="navbar-icon">
      <span class="link-text">Admin</span>
    </a> -->

    <a (click)="openCart()" aria-label="Carrinho" class="cart-icon nav-link">
      <span class="material-symbols-outlined navbar-icon">
        shopping_cart
        </span>
      <span *ngIf="cartItemCount > 0" class="cart-badge">
        {{ cartItemCount }}
      </span>
    </a>
  </div>
</nav>

<div class="categories-nav" [ngClass]="{'hidden': isNavHidden}">
  <ul class="categories-list">
    <li><a routerLink="/novidades">Novidades</a><span class="star-divider">★</span></li>
    <li><a routerLink="/roupas">Roupas</a><span class="star-divider">★</span></li>
    <li><a routerLink="/colecoes">Coleções</a><span class="star-divider">★</span></li>
    <li><a routerLink="/moletom">Moletom</a><span class="star-divider">★</span></li>
    <li><a routerLink="/acessorios">Acessórios</a><span class="star-divider">★</span></li>
    <li><a routerLink="/outlet">Outlet</a></li>
  </ul>
</div>

<app-cartcomponent></app-cartcomponent>