<nav class="navbar">
    <img src="/assets/logo/logo.png" alt="logo" class="navbar-logo">
  
    <div class="navbar-icons">

      <a routerLink="/search" routerLinkActive="active" aria-label="Buscar">
        <img src="/assets/icons/icon-search.png" alt="Buscar" class="navbar-icon">
      </a>
  
      <a routerLink="/login" routerLinkActive="active" aria-label="Usuário">
        <img src="/assets/icons/icon-user.png" alt="Usuário" class="navbar-icon">
      </a>
  
      <a routerLink="/bag" routerLinkActive="active" aria-label="Sacola">
        <img src="/assets/icons/icon-bag.png" alt="Bag" class="navbar-icon">
      </a>
    </div>
  </nav>
  