.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 2%;
  background-color: #232323;
  border-bottom: 1px solid #ddd;
  
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo-text {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.logo-charmosa {
  color: #fff;
  font-family: "Lexend Exa";
}

.logo-plus {
  color: #FFD700;
  margin-left: 5px;
  font-family: "Lexend Exa";
}

.navbar-icons {
  display: flex;
  gap: 30px;
  cursor: pointer;
}

.navbar-icon {
  width: 20px;
  height: 20px;
}

.navbar-icons a {
  text-decoration: none;
}

.navbar-icons a:hover .navbar-icon {
  opacity: 0.7;
}