<div class="refund-policy-container">
    <h1 class="title">Política de Reembolso</h1>
    <p class="update-date">Última atualização: {{lastUpdate}}</p>
  
    <section>
      <h2>DEVOLUÇÕES/TROCAS</h2>
      <p>
        Itens de preço integral comprados em apresentação contínua são passíveis até a data
        de chegada são elegíveis para devolução ou troca, a menos que marcados como venda
        final na página do produto. Não aceitamos devoluções ou trocas após o período de 14
        dias postados.
      </p>
      <p>
        Todas as devoluções incorrerão em uma taxa de $9 para cobrir o custo do frete de
        devolução. Esta taxa é dispensada no caso de uma troca. Observe que taxas e impostos
        pagos em pedidos internacionais não podem ser reembolsados se um item for devolvido
        ou trocado.
      </p>
    </section>
  
    <section>
      <h2>VENDA FINAL</h2>
      <ul>
        <li>
          Itens que são de venda final e não podem ser devolvidos/trocados: Todas as mercadorias com
          desconto, liquidação ou itens que tem evidências de uso ou uso.
        </li>
        <li>
          Todos os itens com mais de 30% de desconto são VENDA FINAL.
        </li>
      </ul>
    </section>
  
    <section>
      <h2>CONDIÇÕES</h2>
      <p>
        Os itens devem ser devolvidos em sua condição original, sem uso, sem alterações e
        com todas as etiquetas anexadas.
      </p>
      <p>
        Não emitiremos reembolsos para itens devolvidos que não estejam em suas condições
        originais e apresentem sinais de danos e desgaste.
      </p>
    </section>
  
    <section>
      <h2>TROCAS</h2>
      <p>
        Para fazer uma troca, passe pelo nosso processo de devolução e escolha trocar em vez
        de devolver. A taxa de reposição de estoque de $9 é dispensada no caso de todas as
        trocas.
      </p>
    </section>
  
    <section>
      <h2>PROMOÇÕES</h2>
      <p>
        Observe que itens comprados pelo preço integral que não foram marcados ou oferecidos a preço
        promocional não terão o valor original não podem ter o preço igualado.
      </p>
    </section>
  
    <section>
      <h2>PRODUTOS DANIFICADOS, DEFEITUOSOS E INCORRETOS</h2>
      <p>
        Se você recebeu um produto danificado ou com defeito, ou se o item que você recebeu não era o que
        você pediu, entre em contato pelo e-mail charmosaplus&#64;gmail.com.br e tenha o número do seu
        pedido em mãos e algumas fotos de como sua embalagem chegou. Teremos prazer em ajudar você.
      </p>
    </section>
  </div>