<div class="modal-container">
  <h2 mat-dialog-title>Produtos Cadastrados</h2>

  <div class="modal-actions">
    <mat-form-field class="filter-field"  appearance="outline">
      <mat-label>Filtrar produtos por nome ou ID</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Digite para filtrar...">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    
    <button class="refresh-button" (click)="refreshProducts()">
      <mat-icon>refresh</mat-icon>
      Atualizar Lista
    </button>
  </div>

  <div mat-dialog-content class="products-grid">
    <ng-container *ngIf="filteredProducts.length > 0; else noProducts">
      <mat-card *ngFor="let product of filteredProducts" class="product-card">
        
        
        
        <mat-card-header>
          <mat-card-title>{{product.name}}</mat-card-title>
          <mat-card-subtitle *ngIf="product.id">ID: {{product.id}}</mat-card-subtitle>
          
        </mat-card-header>

        <img mat-card-image *ngIf="product.imageUrls?.length" [src]="product.imageUrls?.[0]" [alt]="product.name">

        <mat-card-content>
          <p class="description">{{product.description}}</p>
          <p class="price">R$ {{product.price}}</p>
          <p class="details">Cores: {{product.colors.join(', ')}}</p>
          <p class="details">Tamanhos: {{product.sizes.join(', ')}}</p>
        </mat-card-content>
        <div class="action-buttons">
          <button mat-icon-button class="edit-btn" (click)="openEditModal(product)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="delete-btn" (click)="deleteProduct(product.id!)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card>
      
    </ng-container>
    

    <ng-template #noProducts>
      <div class="no-products">
        <mat-icon>search_off</mat-icon>
        <p>Nenhum produto encontrado{{ searchText ? ' para "' + searchText + '"' : '' }}</p>
      </div>
    </ng-template>
  </div>

  <div mat-dialog-actions align="end" class="end-buttons">
    <button mat-button>Gerenciar Produtos</button>
    <button class="close" mat-button mat-dialog-close>Fechar</button>
  </div>
</div>