<div class="container-login">
  <div class="container-login-central">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="container-header">
        <!-- <div class="titulo-login">Charmosa Plus</div> -->
        <div class="subtitulo-login">Faça seu login</div>
      </div>

      <div class="group-input">
        <input class="text-info" type="text" formControlName="username" placeholder="E-mail ou CPF/CNPJ" />
        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
          <small *ngIf="loginForm.get('username')?.errors?.['required']">
            E-mail é obrigatório.
          </small>
          <small *ngIf="loginForm.get('username')?.errors?.['username']">
            Formato de e-mail inválido.
          </small>
        </div>
      </div>

      <div class="group-input">
        <input class="text-info" type="password" formControlName="password" placeholder="Senha" />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          <small *ngIf="loginForm.get('password')?.errors?.['required']">
            Senha é obrigatória.
          </small>
          <small *ngIf="loginForm.get('password')?.errors?.['minlength']">
            Senha deve ter no mínimo 6 caracteres.
          </small>
        </div>
      </div>

      <div class="login-options">
        <div class="register-link">
          Novo usuário? <a href="/register">Cadastre-se</a>
        </div>
        <div class="forgot-password">
          <a href="/recuperar-senha">Esqueceu a senha?</a>
        </div>
      </div>

      <button type="submit" class="btn-login" [disabled]="loginForm.invalid">
        Continuar
      </button>
    </form>
  </div>
</div>