<div class="container-login">
    <div class="container-login-central">
        <div class="container-header">
            <div class="titulo-login">Charmosa Plus</div>
            <div class="subtitulo-login">INICIAR SESSÃO</div>
        </div>

        <div class="container-form">
            <form class="form-input">
                <div class="group-input">
                    <div class="text-input">
                        <!-- E-MAIL -->
                        <input class="text-info" type="text" name="email" id="email" placeholder="E-MAIL">
                    </div>
                </div>

                <div class="group-input">
                    <div class="text-input">
                        <!-- SENHA -->
                        <input class="text-info" type="password" name="senha" id="senha" placeholder="SENHA">
                    </div>
                </div>

                <div class="subtitle">
                    <div class="forgot-password">
                        <a routerLink="/forgot-password">Esqueceu sua senha?</a>
                    </div>

                    <div class="register-link">
                        <span>Não tem uma conta? </span>
                        <a routerLink="/register">Crie uma aqui.</a>
                    </div>
                </div>


                <div class="group-input">
                    <input type="submit" class="btn-login" value="INICIAR SESSÃO">
                </div>
            </form>

        </div>


    </div>
</div>