<div class="container-login">
    <div class="container-login-central">
        <div class="container-header">
            <div class="titulo-login">Charmosa Plus</div>
            <div class="subtitulo-login">INICIAR SESSÃO</div>
        </div>

        <div class="container-form">
            <form class="form-input">
                <div class="group-input">
                    <div class="text-input">
                        <!-- E-MAIL -->
                        <input class="text-info" type="text" name="email" id="email" placeholder="E-MAIL">
                    </div>
                </div>
        
                <div class="group-input">
                    <div class="text-input">
                        <!-- SENHA -->
                        <input class="text-info" type="password" name="senha" id="senha" placeholder="SENHA">
                    </div>
                </div>

                <div class="group-input">
                    <div class="text-input">
                        <!-- NOME -->
                        <input class="text-info" type="text" name="nome" id="nome" placeholder="NOME COMPLETO">
                    </div>
                </div>

                <div class="group-input">
                    <div class="text-input">
                        <!-- CNPJ / CPF -->
                        <input class="text-info" type="text" name="cpf" id="cpf" placeholder="CNPJ / CPF">
                    </div>
                </div>

                <!-- DDD e Telefone na mesma linha -->
                <div class="group-input same-line">
                    <div class="text-input">
                        <!-- DDD -->
                        <input class="text-info ddd-input" type="text" name="ddd" id="ddd" placeholder="DDD">
                    </div>
                    <div class="text-input">
                        <!-- TELEFONE -->
                        <input class="text-info telefone-input" type="text" name="telefone" id="telefone" placeholder="TELEFONE">
                    </div>
                </div>
        
                <div class="group-input">
                    <input type="submit" class="btn-login" value="INICIAR SESSÃO">
                </div>
            </form>
        </div>
    </div>
</div>
