.charts {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
    width: 100%;
}

.graphic {
    width: 100%;
}

.graphic h3 {
    color: #000;
    font-family: "Lexend Exa";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.graphic h3, strong {
    display: flex;
    justify-content: start;
}

strong {
    color: #000;
    font-family: "Lexend Exa";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.chart-container:first-child {
    /* O primeiro gráfico ocupa 65% */
    display: flex;
    justify-content: center;
    width: 60%;
    margin-left: 4.5%;
}

.chart-container:last-child {
    /* O segundo gráfico ocupa o restante */
    width: 20%;
    margin-right: 4.5%;
}

.chart-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 4%;
}

.dropdown {
    display: flex;
    justify-content: end;
}

.pizza {
    margin-top: 40%;
}