<div class="charts">
    <div class="chart-container">
        <div class="graphic">
            <h3>Vendidos<br></h3>
            <div class="dropdown">
                <select (change)="updateChartData($event)">
                    <option value="24h">Últimas 24 horas</option>
                    <option value="7d">Últimos 7 dias</option>
                    <option value="1m">Último mês</option>
                    <option value="1y">Último ano</option>
                </select>
            </div>
            <strong>R$ 2,350.80</strong>
            <canvas #weeklySalesChart></canvas>
        </div>

    </div>

    <div class="chart-container">
        <div class="pizza">
            <canvas #monthHighlightsChart></canvas>
        </div>
    </div>
</div>