<div class="about-us">
  <div class="section">
    <div class="banner1">
      <div class="text-content">
        <h2>Quem somos?</h2>
        <p>
          Desde o início, a Charmosa Plus nasceu com o propósito de transformar o
          modo em uma experiência inclusiva e especial. Queremos que nossas
          clientes se sintam representadas e valorizadas, com peças que tragam
          elegância, conforto e autenticidade. Cada coleção é pensada para
          realçar a beleza natural de mulheres que merecem sempre o melhor.
        </p>
      </div>
      <img src="/assets/banners/banner-principal.png" alt="Imagem quem somos" class="about-image">
    </div>
  </div>

  <div class="section">
    <div class="banner2">
      <img src="/assets/banners/banner-segundario2.jpg" alt="Imagem missão e valores" class="about-image">
      <div class="text-content">
        <h2>Nossa Missão e Valores</h2>
        <p>
          Acreditamos no poder da moda como forma de expressão e empoderamento.
          Nossa missão é oferecer roupas de qualidade, que combinem estilo e
          funcionalidade, além de proporcionar uma experiência de compra
          diferenciada e personalizada. Valorizamos a diversidade, autoaceitação
          e o respeito, sendo nosso compromisso celebrar cada mulher como ela é.
        </p>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="banner3">
      <div class="text-content">
        <h2>O que oferecemos?</h2>
        <p>
          <strong> Charmosa Plus, você encontra:</strong>
        </p>
        <ul>
          <li>Variedade de tamanhos: Moda para todos os estilos e ocasiões.</li>
          <li>Tendências atuais: Sempre antenados no que há de melhor.</li>
          <li>Atenção exclusiva: Nossa equipe está pronta para te ajudar e aconselhar.</li>
          <li>Qualidade garantida: Peças cuidadosamente selecionadas.</li>
        </ul>
      </div>
      <img src="/assets/banners/banner-segundario1.jpg" alt="Imagem o que oferecemos" class="about-image">
    </div>
  </div>

  <!-- <footer class="footer">
    <p>Charmosa Plus</p>
  </footer> -->
</div>
